In [5]:
import pandas as pd
df = pd.read_csv('population.CSV')

region_codes = {
    '전국':'0000000000',
    '서울특별시':'1100000000',
    '경상남도':'4800000000',
    '경상북도':'4700000000',
    '전라남도':'4600000000',
    '전라북도':'4500000000',
    '충청남도':'4400000000',
    '충청북도':'4300000000',
    '강원특별자치도':'5100000000',
    '경기도':'4100000000',
    '세종특별자치시':'3611000000',
    '울산광역시':'3100000000',
    '대전광역시':'3000000000',
    '광주광역시':'2900000000',
    '인천광역시':'2800000000',
    '대구광역시':'2700000000',
    '부산광역시':'2600000000',
    '제주특별자치도':'5000000000'
}


df['area_code'] = df['region'].map(region_codes)
df['area_code'] = df['area_code'].astype(str).str.zfill(10)
print(df.columns)
df = pd.concat([df.iloc[:, :2], df['area_code'], df.iloc[:, 2:-1]], axis=1)

df.info()
print(df.columns)
df.to_csv('final_population.csv', index=False)

Index(['date', 'region', 'below10', '10to19', '20to29', '30to39', '40to49',
       '50to59', '60to69', '70to79', '80to89', '90to99', 'over100',
       'total_movein', 'total_moveout', 'net_move', 'inner_move',
       'inner_movein', 'inner_moveout', 'between_movein', 'between_moveout',
       'born', 'born_rate', 'marriage', 'marriage_rate', 'public_vehicle',
       'private_vehicle', 'commercial_vehicle', 'total_vehicle', 'area_code'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                2016 non-null   object
 1   region              2016 non-null   object
 2   area_code           2016 non-null   object
 3   below10             2016 non-null   int64
 4   10to19              2016 non-null   int64
 5   20to29              2016 non-null   int64
 6   30to39              2016 non-null   int64
 7   40to49              2016 non-null   int64
 8   50to59              2016 non-null   int64
 9   60to69              2016 non-null   int64
 10  70to79              2016 non-null   int64
 11  80to89              2016 non-null   int64
 12  90to99              2016 non-null   int64
 13  over100             2016 non-null   int64
 14  total_movein        2016 non-null   int64
 15  total_moveout       2016 non-null   int64
 16  net_move            2016 non-null   int64
 17  inner_move          2016 non-null   int64
 18  inner_movein        2016 non-null   int64
 19  inner_moveout       2016 non-null   int64
 20  between_movein      2016 non-null   int64
 21  between_moveout     2016 non-null   int64
 22  born                2016 non-null   float64
 23  born_rate           2016 non-null   float64
 24  marriage            2016 non-null   float64
 25  marriage_rate       2016 non-null   float64
 26  public_vehicle      2016 non-null   float64
 27  private_vehicle     2016 non-null   float64
 28  commercial_vehicle  2016 non-null   float64
 29  total_vehicle       2016 non-null   float64
dtypes: float64(8), int64(19), object(3)
memory usage: 472.6+ KB
Index(['date', 'region', 'area_code', 'below10', '10to19', '20to29', '30to39',
       '40to49', '50to59', '60to69', '70to79', '80to89', '90to99', 'over100',
       'total_movein', 'total_moveout', 'net_move', 'inner_move',
       'inner_movein', 'inner_moveout', 'between_movein', 'between_moveout',
       'born', 'born_rate', 'marriage', 'marriage_rate', 'public_vehicle',
       'private_vehicle', 'commercial_vehicle', 'total_vehicle'],
      dtype='object')